<footer class="app-footer">
  <div class="footer-social">
    <a href="https://github.com/yashdotin" target="_blank"><i class="fa-brands fa-github"></i></a>
    <a href="https://instagram.com/yash.awasthi.10" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    <a href="https://linkedin.com/in/yash-awasthi-a7aa5b334" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://x.com/Yashjs10" target="_blank"><i class="fa-brands fa-x-twitter"></i></a>
  </div>
  <div class="footer-credit">Made with ❤️ by Yash · © {{ now|date:"Y" }} MathSuite</div>
</footer>
